@import '../../styles/settings.scss';

.columnForm {
    padding: 10px;
    text-align: center;
}

.span {
    margin: 0 10px 0 10px;
}

.columnCount {
    font-size: 14px;
    color: gray;
  }  

@media (max-width: 767px) {
    .columnForm {
        padding: 0 50px 0 20px;
    }
  }
  @media (min-width: 390px) and (max-width: 932px) {
    .columnForm {
        padding: 0 50px 0 60px;
    }
  }
  @media (min-width: 430px) and (max-width: 932px) {
    .columnForm {
        padding: 0 50px 0 75px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .columnForm {
        padding: 10px;
        text-align: center;
    }
}
@media (min-width: 540px) and (max-width: 720px) {
    .columnForm {
        padding: 0 200px 0 60px;
    }
}
