@import '../../styles/settings.scss';

.cardForm {
    padding: 10px;
    text-align: center;
}

.input {
    margin: 0 5px 0 5px ;
}

.cardCount {
    font-size: 14px;
    color: gray;
  }  

@media (max-width: 767px) {
    .columnForm {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position:absolute;

    }
    .input {
        margin: 0 3px 5px 3px;
        padding-right: 35px;
    }

    .span {
        position: relative;
        padding: 0 0 0 80px;
    }

    .button {
     padding: 5px 10px 0 45px;
     width: 50%;
    }
  }