@import '../../styles/settings.scss';

.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.subtitle {
  margin-top: (- $base-size * 3);
}