@import '../../styles/settings.scss';

.div {
    padding: $base-size;
  }

.title {
    padding: ($base-size * 3) 0;
    text-align: center;
    font-size: ($base-size * 3);
    text-transform: uppercase;
    margin-top: (- $base-size * 3);
  };