@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.buttonFavorite {
    color: $color-dark;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.isFavorite {
    color: $color-warning;
}

.notFavorite {
    color: $color-dark;
}

.buttonRemove {
    color: $color-dark;
    border: none;
    background: transparent;
    cursor: pointer;
}

.buttonFavorite, .buttonRemove {
    margin-left: -3px;
}